<%# add navigation links to this file %>
<%- if user_signed_in? %>
  <%- if current_user.admin? %>
  <li>
    <%= link_to 'Admin', rails_admin_path %>
  </li>
  <%- end %>
<li>
  <%= link_to current_user.email, edit_user_registration_path %>
</li>
<li>
    <div class="form-group navbar-form">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-info' %>
    </div>
</li>
<%- else %>
    <li>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'navbar-form'}) do |f| %>

    <div class="form-group">
        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
    </div>
    <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :class => "input-medium form-control", :placeholder => "Password" %>
    </div>
    <div class="form-group">
        <div><%= f.submit :class => "btn btn-info", :value => "Sign in" %></div>
    </div>
    <div class="form-group">
        <div><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-info' %></div>
    </div>
    <% end %>
</li>

<%- end %>


